<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
  <classPathEntry location="/tools/postgresql-42.2.16.jar" />
  <context id="PostgresqlTables" targetRuntime="MyBatis3">
    <jdbcConnection driverClass="org.postgresql.Driver"
        connectionURL="jdbc:postgresql://10.2.152.197:5432/tsdata?useUnicode=true&amp;characterEncoding=utf8"
        userId="tsdata"
        password="milan123">
    </jdbcConnection>

    <javaTypeResolver >
      <property name="forceBigDecimals" value="false" />
    </javaTypeResolver>
  
    <javaModelGenerator targetPackage="com.advs.train.model" targetProject="NERService\src\main\java">
      <property name="enableSubPackages" value="true" />
      <property name="trimStrings" value="true" />
    </javaModelGenerator>
   
    <sqlMapGenerator targetPackage="mybatis"  targetProject="NERService\src\main\resources">
      <property name="enableSubPackages" value="true" />
    </sqlMapGenerator>

    <javaClientGenerator type="XMLMAPPER" targetPackage="com.advs.train.dao"  targetProject="NERService\src\main\java">
      <property name="enableSubPackages" value="true" />
    </javaClientGenerator>

  <!--  <table schema="DB2ADMIN" tableName="ALLTYPES" domainObjectName="Customer" >
      <property name="useActualColumnNames" value="true"/>
      <generatedKey column="ID" sqlStatement="DB2" identity="true" />
      <columnOverride column="DATE_FIELD" property="startDate" />
      <ignoreColumn column="FRED" />
      <columnOverride column="LONG_VARCHAR_FIELD" jdbcType="VARCHAR" />
    </table> -->
    <!--
    
     
     
     <table tableName="model_ds_info" domainObjectName="ModelDSInfo"
            enableSelectByPrimaryKey="true" enableUpdateByPrimaryKey="true"
            enableDeleteByPrimaryKey="true" enableSelectByExample="true"
            enableDeleteByExample="true" enableCountByExample="true"
            enableUpdateByExample="true">
     </table>
     -->
     <table tableName="ner_model_info" domainObjectName="NERModelInfo"
            enableSelectByPrimaryKey="true" enableUpdateByPrimaryKey="true"
            enableDeleteByPrimaryKey="true" enableSelectByExample="true"
            enableDeleteByExample="true" enableCountByExample="true"
            enableUpdateByExample="true">
     </table>
  </context>
  </generatorConfiguration>